table {
    width: 100%;
  }
  
  tr.student-detail-row {
    height: 0;
  }
  
  tr.student-element-row:not(.student-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.student-element-row:not(.student-expanded-row):active {
    background: #efefef;
  }
  
  .student-element-row td {
    border-bottom-width: 0;
  }
  
  .student-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: inset 0px 0px 0px #c1c1c1;
  }
  
  .student-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .student-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .student-element-description {
    padding: 16px;
  }
  
  .student-element-description-attribution {
    opacity: 0.5;
  }
  .detail-table {
    background: #b7b7b773;
    text-align: center;
  }
  .matList{
    margin-top: 5px;
  }
  .example-element-description {
    padding: 16px;
  }
  .td, th {
    border: none;
    text-align: left;
    size: fixed;
    margin-left: 2px;
    font-size: small ;
  }
  .pNone { padding: 0 !important;}
  .client-table {
    background: hwb(0deg 94% 6%);
    padding: 0 10px;
    border-radius: 0 !important;
    border-bottom: 1px solid #dedede;
  }
  .client-table tr {
    border-bottom: 1px solid #dedede;
  }
  .client-table tr td, .client-table tr th { height: 45px; }
  .client-table tr td { border-top: 1px solid #dedede;}

  .wrap-inherit {
    white-space: inherit !important;
}