@import "./../../assets/scss/variables";
@import "./../../assets/scss/mixins.scss";
.login {
    // min-height: 455px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 460px;
    background-size: cover;
    background-position: center;
    @include respond-to(medium-screens) {
        background-size: cover;
        background-position: top center;
    }
    @include respond-to(responsiveMax767) {
        background-size: cover;
        background-position: top center;
    }
    .wrap {
        z-index: 1;
        position: relative;
    }
    header {
        background-color: rgb(33 33 33 / 50%);
        padding: 15px 0;
    }
    .menu {
        float: right;
        @include respond-to(responsiveMax767) {
            display: none;
        }
        .mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
            opacity: 1 !important;
        }
        .mat-button-focus-overlay {
            background-color: $secondary-color !important;
        }
    }
    .bannerText {
        margin-top: 4%;
        @include respond-to(medium-screens) {
            margin-top: 2%;
            margin-left: 0 !important;
        }
        @include respond-to(responsiveMax767) {
            margin-top: 2%;
            margin-left: 0 !important;
        }
        h1 {
            font-size: 40px;
            font-weight: 600;
            line-height: 55px;
            @include respond-to(medium-screens) {
                font-size: 21px;
                line-height: 22px;
            }
            @include respond-to(responsiveMax767) {
                font-size: 22px;
                line-height: 22px;
            }
        }
        h2 {
            @include respond-to(medium-screens) {
                font-size: 21px;
                line-height: 22px;
            }
        }
        button {
            padding: 10px;
            min-width: 260px;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 10px;
            background-color: transparent;
            border: 5px solid #dedede;
            color: #26c6da;
            &:hover {
                background-color: #26c6da;
                border-color: #26c6da;
                color: #000;
            }
            @include respond-to(medium-screens) {
                width: 100%;
            }
            @include respond-to(responsiveMax767) {
                width: 100%;
                font-size: 16px;
            }
        }
    }
    .foget {
        a {
            @include respond-to(medium-screens) {
                font-size: 11px;
            }
        }
    }
    
}
.be-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgb(19 254 254 / 16%);
}
.client-box {
    background-color: #e2dfdf;
    position: relative;
    top: -2px;
    padding: 25px 0;
    .logo {
        img {
            height: 45px;
            max-width: 100%;
            @include respond-to(medium-screens) {
                max-width: 40%;
                margin: 15px auto;
            }
            @include respond-to(responsiveMax767) {
                max-width: 40%;
                margin: 15px auto;
            }
        }
    }
}
.mobileNav {
    display: none;
    @include respond-to(responsiveMax767) {
        display: block;
    }
    .mat-icon-button {
        @include respond-to(responsiveMax767) {
            height: 24px;
            line-height: 24px;
        } 
    }
}
.whatWeOffer {
    .title {
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
    hr {
        width: 85px;
        border: 1px solid #26c6da;
        background-color: #26c6da;
    }
    .cardWrap {
        .weOffer-left {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 25px;
            padding: 19px;
            mat-icon {
                font-size: 60px;
                color: #fff;
            }
        }
        .weOffer-body {
            h4 {
                font-size: 24px;
                font-weight: 600;
            }
            p {
                color: #827f7f;
            }
        }
        .services-box {
            background: #ffffff7a;
            padding: 15px;
        }
    }
}
.servicesBox {
    background-color: #e7e7e7;
    figure {
        margin: 0;
        padding: 0;
        img {
            width: 100%;
        }
    }
    .serveces-center {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        .weOffer-body {
            padding: 30px 35px 20px;
            min-height: 145px;
        }
    }
}
.fotterBox {
    .footer {
        .m-Top30 {
            margin-top: 30px !important;
        }
        h5 {
            font-size: 18px;
            font-weight: 500;
            color: #e9e7e7;
            margin-bottom: 20px;
        }
        h6 {
            font-size: 16px;
            font-weight: 500;
            color: #e9e7e7;
            margin-bottom: 14px;
        }
        p {
            font-size: 14px;
            font-weight: 500;
            color: #948f8f;
        }
        .post {
            p {
                color: #26c6da !important;
                font-size: 17px;
            }
            .date, .admin {
                color: #948f8f;
                mat-icon {
                    float: left;
                    line-height: 18px;
                    margin-right: 5px;
                    color: #948f8f;
                }
            }
        }
    }
    .social {
        a {
            padding: 10px;
            border-radius: 5px;
            min-width: 45px;
            text-align: center;
            i {
                color: #000;
                font-size: 25px;
            }
        }
    }
}
